<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="path" value="/log/videoStation"/>
    <property name="pattern" value="[%-5level] %d{yyyy-MM-dd HH:mm:ss} %c %M %L [%thread] %m%n"/>
<!--    输出文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/video-logback.log</file>
        <encoder  class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--%d{yyyy-MM-dd}引用日期，%i表示拆分后的文件序号-->
            <fileNamePattern>${file_path}/%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <!--控制台输出-->
    <appender name="console_info" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="console_error" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
<!--    异步-->
    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <!--指定某一个appender-->
        <appender-ref ref="file"/>
    </appender>
    <logger name="videoLog" level="ALL" additivity="true">
        <appender-ref ref="async"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="console_info"/>
        <appender-ref ref="console_error"/>
    </root>
</configuration>